#loginForm {
    width: fit-content;
    padding: 10px;
    border-radius: 25px;
    height: fit-content;
    background-color: #f6f9fa;
    border: solid #0069aa 1px;
}

.jsonData {
    height: 300px;
    background: #2d2d2d;
    color: #ffc603;
}

.btn-primary {
    background-color: #0069aa !important;
    border-color: #0069aa !important;
}

.readout {
    padding-left: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}